@import '../../styles/partials/breakpoint';
@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';
@import '../../styles/partials/resets';
@import '../../styles/partials/variables';



.hero__video {
    position: relative;
    width: 100%;
    @include large() {
    position: relative;
    height: 43.813rem;
    overflow: hidden;
    background-color: $dark-black;
    }
    @include medium {
        padding-right: 2.8rem;
        overflow: hidden;
        background-color: $dark-black;
        padding-left: 2.8rem;
    }
}

.video__details {
    padding-left: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 100%;
    @include small {
        padding-right: 1.5rem;
    }
}

  
.video__details-title {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 1rem;
    font-family: $avenir-bold, Helvetica, sans-serif;
    font-size: 2.063rem;
    line-height: 2.75rem;
    font-weight: 700;
    text-align: left;
    @include medium() {
        border-bottom: none;
    }
}

.video__details {
    @include medium {
            padding-left: 1.5rem;
            padding-right: 5.5rem;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }
    @include large {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            }
}


.video__items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 1rem;
    padding-top: 1rem;
    @include medium {
        display: flex;
        padding-top: 1rem;
    }
    @include small {
        padding-top: 1.5rem;
    }
}

.video__items-channel {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: $avenir-bold, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.375rem;
    @include small {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1rem;
    }
}

.video__items-date {
    font-family: $avenir-demi, Helvetica, sans-serif;
    font-weight: 600;
    color: $silver;
}


.video__items-icons {
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: $silver;
    font-family: $avenir-demi, Helvetica, sans-serif;
    font-weight: 600;
    @include medium {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        color: $silver;
        font-family: $avenir-demi, Helvetica, sans-serif;
        font-weight: 600;
    }
    @include large {
        display: flex;
        flex-direction: row;
    }
}

.ideo__items-icons--views {
    @include small{
        display: flex;
        gap: 0.5rem;
    }
}
.video__items-icons--likes {
    @include small{
        display: flex;
        gap: 0.5rem;
    }
}

.video__description {
    text-align: left;
    font-family: $avenir-demi, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    width: 100%;
    line-height: 1.375rem;
    padding-top: 1rem;
}

.video__comment {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 100%;
    @include large {
        padding-left: 1.5rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        width: 100%;
    }
    @include medium {
        padding-right: 5.5rem;
        padding-left: 1.5rem;

    }
}

.video__comment-text {
    text-align: left;
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;
    font-size: 0.875rem;
    font-family: $avenir-bold, Helvetica, sans-serif;
    font-weight: 700;
    @include small {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
}

.video__input {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    align-items: flex-end;
    gap: 1rem;
    align-items: flex-start;
    padding-top: 1.5rem;
    
    @include large() {
        display: flex;
        align-items: center;
        margin-bottom: 1.25rem;
        align-items: flex-end;
        gap: 1rem;
    }
    @include medium() {
        display: flex;
        align-items: center;
        margin-bottom: 1.25rem;
        align-items: flex-end;
        gap: 1rem;
    }
}

.video__input .video__input-avatar {
    margin-right: 0.625rem;
    @include medium {
    padding-top: 1.5rem;
    }
}
  
.video__input .video__input-avatar--img {
    margin-top: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    @include large {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }
}


.video__form {
    width: 100%;  
}

.video__form .video__form-label {
    font-weight: 700;
    text-align: left;
    display: block;
    color: $silver;
    font-family: $avenir-demi, Helvetica, sans-serif;
    width: 100%;
}

.video__input .video__form button:hover {
    background-color: $dark-blue;
}

.video__form-items {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    @include medium {
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    @include small {
        display: flex;
        flex-direction: column;
    }
}

#comment.video__form-items--input {
    margin-top: 0.313rem;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    background-image: none;
    padding-left: 1rem;
    height: 2.5rem;
    height: 10rem;
    width: 100%;
    @include large {
        width: 70%;
    }
    @include medium {
        width: 80%;
        height: 3rem;
    }
}

.video__form-items--button {
    margin-left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    background-color: $blue;
    font-family: $avenir-bold, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 50%;
    height: 2.5rem;
    @include large {
        width: 10rem;
        margin-left: 0.625rem;
    }
    @include medium {
        width: 10rem;
        margin-left: 0.625rem;
    }
    @include small {
        margin-left: 0;
        width: 100%;
    }
}

.video__form-items--button .video__form-items--button-img {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;

    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.5rem 1.5rem;
    margin-right: 0.5rem;
}

.video__comments-list {
    @include small {
        width: 100%;
    }
}
.video__comments-list--items {
    list-style: none;
}

